<h3>My Events</h3>

{% if events %}
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Used</th>
        <th>Total</th>
        <th>Remaining</th>
        <th>Created At</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.used_events}}</td>
        <td>{{ event.total_events }}</td>
        <td>
          {% if event.remaining_events is not None %}
            {{ event.remaining_events }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>{{ event.created_at|date:"Y-m-d H:i" }}</td>
        <td><a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Delete</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  {% else %}
    <div class="no-events">No events found.</div>
  {% endif %}